<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/57045c6330.js" crossorigin="anonymous"></script>
    <!--FONTS GOOGLE-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Lato&display=swap" rel="stylesheet">
    <!--SHADOW ON SCROLL-->
    <script type="text/javascript" src="/scripts/topnav_shadow.js" defer></script>
    <script type="text/javascript" src="/scripts/app.js" defer></script>
<!--    <script type="text/javascript" src="/scripts/search.js" defer></script>-->
    <script type="text/javascript" src="/scripts/test.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/css/main-style.css">

    <title>Cboard - <%= category %></title>
</head>

<body>
<header id="finances-header">
    <div id="finances-header-shadow" class="main-header-shadow">
        <%- include('./components/topnav') %>
    </div>
</header>

<section class="documentation-box">
    <h1><%= category %></h1>
    <div class="sidemenu">
        <div id="cta">
            <span class="arrow primera next "></span>
        </div>
    </div>
    <div class="documentation-content">
        <div class="menu">
            <div>
                <form class="documentation-menu" action="finances" method="GET">
                    <div id="nav__sticky">
                        <div class="nav__link">
                            <p class="collapse__link">
                                <span>Content</span>
                                <i class="fas fa-caret-down"></i>
                            </p>
                            <ul class="collapse__menu">
                                <button name="category" value="category" class="collapse__sublink">Title</button>
                            </ul>
                        </div>
                    </div>
                    <% if(cookie){%>
                        <div class="nav__link nav__link-document">
                            <a id="new-content-link" href="/content/upload"><span>Dodaj nowy dokument <i class="fas fa-plus"></i></span></a>
                        </div>
                    <%}%>
                </form>
                <div class="search-div">
                    <input type="text" placeholder="Szukaj..." class="search-btn">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <div class="documentation-text">
            <div class="documentation-docx">
                <%= html %>
            </div>

            <h2>Poprzednie wersje</h2>
            <div class="previous-version" >
                <% versions.forEach(version => { %>
                    <form class="version-description" method="post" action="deleteVersion">
                        <a id="enable-to-download" href="/uploads/<%=version.id_versions%>_<%=version.file%>" download>
                            <%=version.name%>(<%=version.date%>)
                        </a>
                        <% if(user.email === version.email || user.id_role > 1) {%>
                            <button name="version" value="<%=version.id_versions%>"><i class="fas fa-minus"></i></button>
                        <%}%>
                    </form>
                <% }) %>
            </div>
            <h4>Komentarze</h4>
            <% if(cookie) {%>
                <form method="POST" action="newComment" class="new-comment">
                    <textarea name="newComment" id="comment" class="autoExpand" placeholder="Dodaj nowy komentarz..." minlength="1" required rows='1' data-min-rows='1'></textarea>
                    <button class="comment-button" type="submit">Dodaj</button>
                </form>
            <% }%>

            <div class="comments-section">
                <% comments.forEach(comment => {%>
                    <div class="one-comment">
                        <div class="comments-heading">
                            <div class="comments-author"><%= comment.name%></div>
                            <div class="comments-date">
                                <%= comment.updatedAt %>
                                <% if (comment.edited){ %>
                                    (edytowany)
                                <% } %>
                            </div>
                            <% if(user.email === comment.email || user.id_role > 1) {%>
                                <div class="comments-actions">
                                    <% if(user.email === comment.email){ %>
                                    <button name="commentUpdate" value="<%=comment.id_comments%>"><i class="fas fa-pencil-alt"></i></button>
                                    <% } %>
                                    <% if(user.id_role > 1){ %>
                                    <form method="post" action="commentAction">
                                        <button name="commentDelete" value="<%=comment.id_comments%>"><i class="fas fa-minus"></i></button>
                                    </form>
                                    <% } %>
                                </div>
                            <%}%>
                        </div>
                        <div class="comment-content dbComment"><%= comment.comment %></div>
                        <form class="comment-content editComment" method="POST" action="editComment">
                            <textarea name="editComment" class="autoExpand" placeholder="Dodaj nowy komentarz..." minlength="1" required data-min-rows='2'></textarea>
                            <button name="comment" value="<%=comment.id_comments%>" class="comment-button" type="submit">Edytuj</button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</section>
</body>

<template id="content-template">
    <div class="nav__link">
        <p class="collapse__link">
            <span>category</span>
            <i class="fas fa-caret-down"></i>
        </p>
        <ul class="collapse__menu">
        </ul>
    </div>
</template>

<template id="content-template-list-element">
    <button name="category" value="category;title" class="collapse__sublink">title</button>
</template>
</html>